
.navigateDesign {

    font-weight: bold;
    color: black;

    transition: 0.4s;
    margin: 1em;
    /* width: 5em; */
}

.navigateDesign:hover {
    cursor: pointer;
    
    transition: 0.4s;
    color: crimson;
translate: 0 -0.5em;
}