
.logOutDesign {
    height: 84vh;
    min-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgb(219, 219, 219), black 99%);
    
    color: black;
    font-weight: bold;
    font-size: 5vw;
}
.titleRed{
    color:crimson;
}