.servicesDesign {
    min-height: 90vh;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../../img/header.jpg);
}

.cardService{
    width: 20em !important;
    height: 33em !important;

    margin: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 2px black;
    border-radius: 1em;
    color: white;
    font-size:large;

    border-width: 0.1em;
    border-color: black;
}

.imageCard{
    margin-top: 1.5em;
    height: 15em !important;
    width: 15em !important;
    background-color: crimson;
    box-shadow: 0 0 10px 0 crimson inset, 0 0 20px 2px crimson;
    border-radius: 1em;
    border-width: 1em;
    border-color: black;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);    
  }