
.cButtonDesign {

    height: 3em;
    width: 18em;

    border-radius: 0.5em;

    background-color: red;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    cursor: pointer;

    background-color: black;
    border: 3px solid crimson;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: crimson;
}

.cButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 20px 0 crimson inset, 0 0 40px 2px crimson;
    border: 3px solid crimson;
}
.cButtonGreen {
    border: 3px solid greenyellow;
    color: greenyellow;
}

.cButtonGreen:hover {
    box-shadow: 0 0 10px 0 greenyellow inset, 0 0 20px 2px greenyellow;
    border: 3px solid greenyellow;
}
.buttonAppointment{
    height: 3em;
    width: 8em;

    border-radius: 0.5em;

    background-color: red;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    cursor: pointer;
}