
.homeDesign {

    height: 84vh;
    max-width: 100%;

    background-image: url(../../../img/header.jpg);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.carouselImage {
    height: 84vh;
    width: 100vw;
}
.carouselVideo {
    height: 84vh;
    width: 100vw;
    object-fit: cover;
}