.myAppointmentsDesign {
    min-height: 90vh;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../img/header.jpg);
}


.myAppointmentsCardDesign {
    width: 28vw;
    height: 70vh;

    margin: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 2px black;
    border-radius: 1em;
    color: white;
    font-size:large;

    border-width: 0.1em;
    border-color: black;
}
.myAppointmentsCardDesign:hover {
    transition: 0.5s;

    background-color: white;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 2px black;

    border-radius: 1em;
    translate: 0em -0.3em;
    color: black;

    .imageServiceCard{
        box-shadow: 0 0 10px 0 black inset, 0 0 20px 2px black;
    }
}

.dateAppointment{
    margin-top: 8vh;
    font-size: xx-large;
}
.responsive {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .responsive {
        flex-direction: column;
        align-items: center; 
    }
}
@media screen and (max-width: 1000px) {
    .myAppointmentsCardDesign {
        width: 80vw;
        height: 85vh;
        flex-direction: column;
        align-items: center; 
    }
    .imageServiceCard{
        height: 30vh;
        width: 60vw;
    }
}