.headerDesign {
    height: auto;
    min-width: 100%;

    background-image: url(../../img/header.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    display: flex;
    flex-direction: row;
}

