.inputDesign {
  height: 8vh;
  width: 20vw;

  border: 0.2em solid black;
  border-radius: 0.5em;
  margin-top: 2em;
  background-color: white;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .inputDesign {
    height: 10vh;
    width: 70vw;
  }
}




.inputDesignError {
  border: 0.2em solid red;
}
